@keyframes toBorder {
  0% {
    border-radius: 0px;
    background-color: rgb(134, 0, 0);
  }

  20% {
    background-color: rgb(99, 1, 1);
    border-radius: 5px;
  }

  30% {
    background-color: rgb(68, 0, 0);
    border-radius: 8px;
  }

  40% {
    background-color: rgb(41, 0, 0);
    border-radius: 10px;
  }

  60% {
    border-radius: 12px;
    background-color: black;
  }

  80% {
    background-color: rgb(73, 73, 73);
  }

  100% {
    border-radius: 15px;
    background-color: white;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

textarea {
  width: 580px;
  height: 200px;
  margin-bottom: 20px;
}

.keyboard {
  width: 590px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.keyboard::after {
  white-space:pre;
  position: absolute;
  content: 'Сделано на windows, \A переключение раскладки на crtl + shift';
  top: 100%;
  left: 5px;
  border: 1px solid black;
  padding: 5px;
}

.key {
  width: 23px;
  height: 30px;
  border: 1px solid black;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.key:hover {
  background-color: rgb(134, 0, 0);
  cursor: pointer;
}

.ctrl {
  width: 60px;
}

.shift {
  width: 40px;
}

.shiftLeft {
  width: 80px;
}

.tab {
  width: 50px;
}

.backspace {
  width: 70px;
}

.caps_lock {
  width: 74px;
}

.del {
  width: 50px;
}

.enter {
  width: 70px;
}

.space {
  width: 124px;
}

.alt {
  width: 30px;
}

.win {
  width: 45px;
}

.keyLeft,
.keyRight {
  width: 40px;
}

.active {
  border-radius: 15px;
}

.uppercase {
  text-transform: uppercase;
}